@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* border: 1px solid black; */
    height: 100px;
}

header h1 {
    text-align: center;
    margin: 30px 30%;
    /* border: 1px solid black; */
}

.familia {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    /* border: 1px solid black; */
    height: 130px;

}

#pai {
    background-image: url('./img/pai.jpg');
}

#pPai{
    color: #2da818;
    font-weight: bolder;
}

#mae {
    background-image: url('./img/mae.jpg');
}

#pMae{
    color: #f44336;
    font-weight: bolder;
}

#filho {
    background-image: url('./img/filho.jpg');
}

#pFilho{
    color: #2196f3;
    font-weight: bolder;
}

#filha {
    background-image: url('./img/filha.jpg');
}

#pFilha{
    color: #c814e7;
    font-weight: bolder;
}

.pessoa {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    opacity: 0.245;
}

.pessoa:hover {
    opacity: 0.9;
    border-radius: 10%;
    border: 3px solid lightseagreen;
    box-shadow: 10px 2px 10px rgb(0, 0, 0, 0.390);
}

.imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 600px;
    height: 260px;
    margin: 10px auto;
}

.container h2 {
    text-align: center;
    /* border: 1px solid black; */
    width: 600px;
    font-size: 1.5rem;
    margin-top: 20px;
    padding-bottom: 15px;
}

#lista ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 3;
    font-size: 1.2rem;
}

#lista ol {
    list-style-position: inside;
    columns: 3;
    font-size: 1.2rem;
}

#seta-direita {
    margin-left: 70%;
    font-size: 0.8rem;
    padding-top: 20px;
}

footer {
    background-color: black;
    color: white;
    height: 40px;
    margin-top: 67px;
}

footer div {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: 100%;
}

footer p {
    padding-top: 10px;
    font-weight: bolder;
}